body {
    background-color: white;
}

.carousel img {
    max-height: 500px;
}

footer {
    background-color: white;
}

.love-icon {
   width: 25px;
   height: 25px;
}

.navbar-nav li a:hover {
    cursor: pointer;
}

#btn-homepage {
    cursor: pointer;
}
